$theme-colors: ("primary": #1482b5, "danger": #da251c);

@import "~bootstrap/scss/bootstrap";

html,
body {
	height: 100%;
}

body {
	padding-top: 101px;
}

#root {
	height: 100%;
}

.productCard {
	height: 270px;
	font-size: 0.9em;
}

.productImg {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	margin: 40px 0;
}

.productImgHorizontal {
	max-width: 220px;
	max-height: 220px;
	width: auto;
	height: auto;
}

.productImg > card-body > * {
	margin: 0 !important;
}

.modal {
	background-color: #00000088;
}

/* REGISTRATION */

.registration-header {
	padding: 1.25rem;
}

.masthead {
	height: calc(100vh - 70px);
	min-height: 500px;
	background: #1482b5;
	background: linear-gradient(69deg, #162c36 0%, #1482b5 35%, #4f9dc1 100%);
}

.navbar {
	background-color: #fafbfa;
}

.bgImage {
	background-image: url(./background2.png);
	background-repeat: no-repeat;
	background-position: right;
}
